<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <targets>
    <!-- File Target for all log messages -->
    <target xsi:type="File" 
            name="allfile" 
            fileName="${basedir}/logs/all-${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" 
            archiveFileName="${basedir}/logs/archives/all-${shortdate}.{#}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="7"
            concurrentWrites="true" />
            
    <!-- File Target for database logs only -->
    <target xsi:type="File" 
            name="databasefile" 
            fileName="${basedir}/logs/database-${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" 
            archiveFileName="${basedir}/logs/archives/database-${shortdate}.{#}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="7"
            concurrentWrites="true" />
            
    <!-- File Target for error logs only -->
    <target xsi:type="File" 
            name="errorfile" 
            fileName="${basedir}/logs/error-${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" 
            archiveFileName="${basedir}/logs/archives/error-${shortdate}.{#}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="7"
            concurrentWrites="true" />
  </targets>

  <rules>
    <!-- Write all logs of level Error or higher to the error log file -->
    <logger name="*" minlevel="Error" writeTo="errorfile" />
    
    <!-- Write database-related logs to the database log file -->
    <logger name="DatabaseHelper.*" minlevel="Debug" writeTo="databasefile" />
    
    <!-- Write all logs to the all log file -->
    <logger name="*" minlevel="Info" writeTo="allfile" />
  </rules>
</nlog> 